<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swaraj.vashisthg"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <permission
            android:name="com.swaraj.vashisthg.permission.MAPS_RECEIVE"
            android:protectionLevel="signature" />

    <uses-permission android:name="com.swaraj.vashisthg.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    
     
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.permisssion.WRITE_ETERNAL_STORAGE"/>
      <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:name="com.swaraj.vashisthg.JanSamparkApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyCoPKr_Sbr0Fliys7fjS3I8jXWt1xrmEo0" />
        <activity
            android:name="com.swaraj.vashisthg.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.IssueSummaryActivity"
            android:label="@string/title_activity_issue_summary"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.IssueDetailsActivity"
            android:label="@string/title_activity_issue_details"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.UserImageActivity"
            android:label="@string/title_activity_issue_details"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.OtherIssuesActivity"
            android:label="@string/title_activity_issue_details"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.swaraj.vashisthg.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            >
        </activity>
        
        <activity
            android:name="com.swaraj.vashisthg.IssueActivity"
            android:label="@string/title_activity_issue"
            android:screenOrientation="portrait"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
